<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark"
  class="navCss"
  [containerInside]="false"
>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/csr"
          routerLinkActive="active"
          mdbWavesEffect
          *ngIf="permissions?.includes('write:csr')"
          >Create CSR</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/logs"
          mdbWavesEffect
          *ngIf="permissions?.includes('read:logs')"
          >Logs</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/alarms"
          mdbWavesEffect
          *ngIf="permissions?.includes('read:alarms')"
          >Alarms</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/report"
          mdbWavesEffect
          *ngIf="permissions?.includes('read:reports')"
          >Report</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/messages"
          mdbWavesEffect
          *ngIf="permissions?.includes('read:messages')"
          >Messages</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/patients"
          mdbWavesEffect
          *ngIf="permissions?.includes('read:patients')"
          >Patients</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/alarms-doctor"
          mdbWavesEffect
          *ngIf="permissions?.includes('read:alarmsDoctor')"
          >Alarms</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="permissions?.includes('read:superadmin')"
          (click)="switchApp()"
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          >Go to Admin App</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          >{{ user?.name }}</a
        >
      </li>
      <li class="nav-item">
        <button *ngIf="authService.isAuthenticated" mat-icon-button [matMenuTriggerFor]="menu" id="profile-circle-button">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="user?.name.includes('superadmin')" (click)="switchApp()" mat-menu-item><mat-icon>settings</mat-icon> Go to Admin App</button>
          <button (click)="logout()" mat-menu-item><mat-icon>exit_to_app</mat-icon> Log out</button>
        </mat-menu>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthenticated">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          (click)="authService.login()"
          >Login</a
        >
      </li>
    </ul>
  </links>
</mdb-navbar>
