<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark"
  class="navCss"
  [containerInside]="false"
>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/csr"
          routerLinkActive="active"
          mdbWavesEffect
          >Create CSR</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          >Logs</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          >Alarms</a
        >
      </li>
    </ul>
  </links>
</mdb-navbar>
