<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark"
  class="navCss"
  [containerInside]="false"
>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/csr"
          routerLinkActive="active"
          mdbWavesEffect
          >Create CSR</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          >Logs</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          >Alarms</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          >{{ user?.name }}</a
        >
      </li>
      <li class="nav-item">
        <button *ngIf="authService.isAuthenticated" mat-icon-button [matMenuTriggerFor]="menu" id="profile-circle-button">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="logout()" mat-menu-item><mat-icon>exit_to_app</mat-icon> Log out</button>
        </mat-menu>
      </li>
      <li class="nav-item" *ngIf="!authService.isAuthenticated">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
          (click)="authService.login()"
          >Login</a
        >
      </li>
    </ul>
  </links>
</mdb-navbar>
