<h1 mat-dialog-title class="mb-4 font-weight-bold">Approve CSR</h1>
<mat-dialog-content class="mt-3" style="width: 450px;">
    <form [formGroup]="formApprove" id="formApprove" (ngSubmit)="approve()" style="width: 100%;">
        <button *ngIf="hide_subject_info" class="mb-3 mat-raised-button" (click)="toggleSubjectInfo()">Show subject info</button>
        <button *ngIf="!hide_subject_info" class="mb-3 mat-raised-button" (click)="toggleSubjectInfo()">Hide subject info</button>
        <div *ngIf="!hide_subject_info">
            <p><mat-form-field appearance="outline" class="full-row">
                <mat-label>Commmon Name</mat-label>
                <input formControlName="common_name" matInput placeholder="Common Name" readonly>
            </mat-form-field></p>
            <p><mat-form-field appearance="outline" class="full-row">
                <mat-label>Organization</mat-label>
                <input formControlName="organization" matInput placeholder="Organization" readonly>
            </mat-form-field></p>
            <p><mat-form-field appearance="outline" class="full-row">
                <mat-label>Organizational Unit</mat-label>
                <input formControlName="organizational_unit" matInput placeholder="Organizational Unit" readonly>
            </mat-form-field></p>
            <p><mat-form-field appearance="outline" class="full-row">
                <mat-label>City/Locality</mat-label>
                <input formControlName="city_locality" matInput placeholder="City/Locality" readonly>
            </mat-form-field></p>
            <p><mat-form-field appearance="outline" class="full-row">
                <mat-label>State/County/Region</mat-label>
                <input formControlName="state_county_region" matInput placeholder="State/County/Region" readonly>
            </mat-form-field></p>
            <p><mat-form-field appearance="outline" class="full-row">
                <mat-label>Country</mat-label>
                <input formControlName="country" [matAutocomplete]="auto" matInput placeholder="Country" readonly>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
            </mat-form-field></p>
            <p><mat-form-field appearance="outline" class="full-row">
                <mat-label>Email address</mat-label>
                <input formControlName="email_address" matInput placeholder="Email address" readonly>
            </mat-form-field></p>
        </div>
        <p><mat-form-field>
            <input matInput (dateChange)="setMinEnd($event)" [matDatepicker]="myDatepicker" [min]="minDateStart" [max]="maxDateStart" id="start-date-input" formControlName="not_before" placeholder="Not before">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field></p>
        <p><mat-form-field>
            <input matInput [matDatepicker]="myDatepicker2" [min]="minDateEnd" [max]="maxDateEnd" id="end-date-input" formControlName="not_after" placeholder="Not after">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker2" [disabled]='this.pickerDisable'></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker2></mat-datepicker>
        </mat-form-field></p>
        <p><mat-form-field appearance="outline" class="full-row">
            <mat-label>Issuer</mat-label>
            <mat-select formControlName="issuer">
                <mat-option *ngFor="let iss of issuers" [value]="iss.serialNumber">
                  {{iss.commonName}}
                </mat-option>
              </mat-select>
        </mat-form-field></p>
        <p><mat-form-field appearance="outline" class="full-row">
            <mat-label>Signing algorithm</mat-label>
            <mat-select formControlName="signing_algorithm">
                <mat-option *ngFor="let sa of algorithms" [value]="sa">
                  {{sa}}
                </mat-option>
              </mat-select>
        </mat-form-field></p>
        <p><mat-form-field appearance="outline" class="full-row">
            <mat-label>Certificate type</mat-label>
            <mat-select formControlName="type" (selectionChange)="typeChanged($event)">
                <mat-option *ngFor="let t of types" [value]="t">
                  {{t}}
                </mat-option>
              </mat-select>
        </mat-form-field></p>
        <p><mat-form-field appearance="fill">
            <mat-label>Key usage</mat-label>
            <mat-select formControlName="key_usage" multiple>
                <mat-option *ngFor="let usage of key_usages" [value]="usage">
                    {{usage}}
                </mat-option>
            </mat-select>
        </mat-form-field></p>
        <p><mat-form-field appearance="fill">
            <mat-label>Extended key usage</mat-label>
            <mat-select formControlName="extended_key_usage" multiple>
                <mat-option *ngFor="let ex_usage of extended_key_usages" [value]="ex_usage">
                    {{ex_usage}}
                </mat-option>
            </mat-select>
        </mat-form-field></p>
        <p><mat-checkbox class="example-margin" (change)="key_identifier_check($event)">Subject Key Identifier, Authority Key Identifier</mat-checkbox></p>
        <p><mat-checkbox class="example-margin" (change)="alternative_name_check($event)">Subject Alternative Name, Issuer Alternative Name</mat-checkbox></p>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" type="submit" form="formApprove">Approve</button>
    <button class="ml-2 mat-raised-button" (click)="close()" id="close-add-admin-btn">Close</button>
</mat-dialog-actions>