<div class="container-fluid">
    <div class="mt-2">
        <span style="display: inline-block; width: 100%;">
            <div class="button-group">
                <button mat-flat-button color="primary" class="button-add ml-2" (click)="addRule1()">
                    Add rule 1
                </button>
            </div>
            <div class="button-group">
                <button mat-flat-button color="primary" class="button-add ml-2" (click)="addRule2()">
                    Add rule 2
                </button>
            </div>
            <div class="button-group">
                <button mat-flat-button color="primary" class="button-add ml-2" (click)="addRule3()">
                    Add rule 3
                </button>
            </div>
        </span>
        <div class="mt-4">
            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="changeTab($event)" class="mt-n4">
                <mat-tab
                    *ngFor="let tab of tabs; let i = index"
                    [label]="tab"
                >
                    <div *ngIf="currentTab == 0">
                        <table class="table table-hover">
                            <thead>
                                <th scope="col" width="10%">No</th>
                                <th scope="col" width="90%">Description</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                                    let item of rules1; let i = index"
                                >
                                    <th scope="col" width="10%">{{ i + 1 }}</th>
                                    <td scope="col" width="90%">{{ item.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="currentTab == 1">
                        <table class="table table-hover">
                            <thead>
                                <th scope="col" width="10%">No</th>
                                <th scope="col" width="90%">Description</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                                    let item of rules2; let i = index"
                                >
                                    <th scope="col" width="10%">{{ i + 1 }}</th>
                                    <td scope="col" width="90%">{{ item.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="currentTab == 2">
                        <table class="table table-hover">
                            <thead>
                                <th scope="col" width="10%">No</th>
                                <th scope="col" width="90%">Description</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                                    let item of rules3; let i = index"
                                >
                                    <th scope="col" width="10%">{{ i + 1 }}</th>
                                    <td scope="col" width="90%">{{ item.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>