<div class="container-fluid">
    <div class="mt-2">
        <div class="button-group">
            <form [formGroup]="formFilter" id="formFilter" (ngSubmit)="filter()">
                <mat-form-field appearance="outline" class="full-row" class="mr-2">
                    <mat-label>Patient</mat-label>
                    <mat-select formControlName="patient" placeholder="Patient">
                        <mat-option *ngFor="let pat of patients" [value]="pat.id">
                          {{pat.firstName + " " + pat.lastName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="mat-raised-button mat-primary ml-2" type="submit" form="formFilter">Filter</button>
                <button class="mat-raised-button mat-primary ml-2" (click)="clear()">Clear</button>
            </form>
        </div>
        <div class="mt-4">
            <table class="table table-hover">
                <thead>
                    <th scope="col" width="15%">Timestamp</th>
                    <th scope="col" width="15%">Patient</th>
                    <th scope="col" width="10%">Temperature</th>
                    <th scope="col" width="18%">Systolic blood pressure</th>
                    <th scope="col" width="17%">Diastolica blood pressure</th>
                    <th scope="col" width="10%">Heart rate</th>
                    <th scope="col" width="15%">Oxygen level</th>
                </thead>
                <tbody>
                    <tr *ngFor="
                        let item of messages.content
                            | paginate
                            : {
                                itemsPerPage: size,
                                currentPage: page,
                                totalItems: messages.totalElements
                                };
                        let i = index"
                    >
                        <th scope="col" width="15%">{{ item.timestamp | date:'dd.MM.yyyy. hh:mm:ss' }}</th>
                        <td scope="col" width="15%">{{ item.patient }}</td>
                        <td scope="col" width="10%">{{ item.temperature }}</td>
                        <td scope="col" width="18%">{{ item.systolic }}</td>
                        <td scope="col" width="17%">{{ item.diastolic }}</td>
                        <td scope="col" width="10%">{{ item.heartRate }}</td>
                        <td scope="col" width="15%">{{ item.oxygenLevel }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-3 div-centered">
                <pagination-controls
                previousLabel="Previous"
                nextLabel="Next"
                (pageChange)="handlePageChange($event)"
                ></pagination-controls>
            </div>
        </div>
    </div>
</div>