<div class="container-fluid">
    <div class="mt-2">
        <div class="button-group" *ngIf="currentTab == 1">
            <button mat-flat-button color="primary" class="button-add" (click)="addSeverityRule()" *ngIf="currentTab == 1">
                Add severity rule
            </button>
        </div>
        <div class="button-group" *ngIf="currentTab == 2">
            <button mat-flat-button color="primary" class="button-add" (click)="addMessagesRule()" *ngIf="currentTab == 2">
                Add messages rule
            </button>
        </div>
        <div class="mt-4">
            <mat-tab-group mat-align-tabs="center" (selectedTabChange)="changeTab($event)" class="mt-n4">
                <mat-tab
                    *ngFor="let tab of tabs; let i = index"
                    [label]="tab"
                >
                    <div *ngIf="currentTab == 0">
                        <table class="table table-hover">
                            <thead>
                                <th scope="col" width="10%">No</th>
                                <th scope="col" width="90%">Description</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                                    let item of defaultRules"
                                >
                                    <th scope="col" width="10%">{{ i }}</th>
                                    <td scope="col" width="90%">{{ item.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
    
                    <div *ngIf="currentTab == 1">
                        <table class="table table-hover">
                            <thead>
                                <th scope="col" width="10%">No</th>
                                <th scope="col" width="90%">Description</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="
                                    let item of severityRules"
                                >
                                    <th scope="col" width="10%">{{ i }}</th>
                                    <td scope="col" width="90%">{{ item.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="currentTab == 2">
                        <table class="table table-hover">
                            <thead>
                                <th scope="col" width="10%">No</th>
                                <th scope="col" width="90%">Description</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of messagesRules">
                                    <th scope="col" width="10%">{{ i }}</th>
                                    <td scope="col" width="90%">{{ item.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>